---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$base-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$base-font-size:   .95em;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #e4f9ec;
$background-color: #191b1c;
$brand-color:      #36a8ed;

$blue-color-dark:  #245390;
$blue-color-light: #4B93DB;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$bg-code:          #222527;
$border:           #525b5f;


// Width of the content area
$content-width:    950px;

$on-palm:          600px;
$on-laptop:        950px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

.justify{
     text-align: justify;
}

.right{
     text-align: right;
}

.ident{
      margin-left: 200px;
}
@media only screen and (max-width: 600px) {
  .ident{
        margin-left: auto;
  }
}

.timeline{
     color: #86bad0;
     margin-bottom: 0px;
}

.project{
     color: #caded2;
     margin-bottom: 0px;
}

.summary{
     color: #abb3ae;
     margin-bottom: 0px;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "header",
	"mobile-header",
    "base",
    "layout",
    "syntax-highlighting",
	"image"
;
